@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&display=swap');
/* ====================================================

	File Name: Core CSS (core.css)
	Description: Core stylesheet for Canvas
	Author: Donny Burnside
	Author URI: http://www.donnyburnside.com
	Version: 1.0.0
	License: GNU General Public License v3.0
	License URI: http://www.gnu.org/licenses/gpl.html

	Canvas - A Free Website Template by Donny Burnside
	Copyright 2015 Donny Burnside
	Distributed under the terms of the GNU GPL

	For help and support please visit http://www.donnyburnside.com

   ==================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}



/*
   Apply a natural box layout model to all elements
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
*, *:before, *:after {
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}



/* ====================================================
	01. Document Setup
   ==================================================== */
html {
	min-height:100%;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#4d4d4d;
	background:#fff;

	/*
		Set the root unit to 16 pixels (1rem = 16px)
	*/
	font-size:16px;
	line-height:1.5;
	font-weight:500;
	-webkit-font-smoothing:antialiased;
}
body {
	min-height:100%;
	margin:0;
}



/* ====================================================
	02. Typography
   ==================================================== */
h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:700;
}



p {
	margin-bottom:32px;
	margin-bottom:2rem;
}



/*
   Links
*/
a {
	color:#333;
	text-decoration:none;
	background:transparent;

	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
a:hover {
	color:#000;
}



/*
   Selected Text
*/
::selection	{
	background:#333;
	color:#fff;
}



/* ====================================================
	03. Grid System
   ==================================================== */

/*
   Grid Sections
*/
.section {
	clear:both;
	padding:32px 0;
	padding:2rem 0;
}
.section:before,
.section:after {
    content:"";
    display:table;
}
.section:after {
    clear:both;
}

@media (min-width: 768px) {

	.section {
		padding:64px 0;
		padding:4rem 0;
	}

}



/*
   Grid Container
   Adjust the max-width here to increase/decrease the width of the website.
   Leave width at 100% otherwise you may break the overall responsiveness.
*/
.container {
	clear:both;
	width:100%;
	max-width:1080px;
	margin:0 auto;
}
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
@media (min-width: 768px) {
	.container {
		width:720px;
		width:45rem;
	}
}
@media (min-width: 992px) {
	.container {
		width:960px;
		width:60rem;
	}
}
@media (min-width: 1200px) {
	.container {
		width:1080px;
		width:67.5rem;
	}
}



/*
   Grid Row
*/
.row {
	clear:both;
	padding:0 16px;
	padding:0 1rem;
}
.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

@media (min-width: 768px) {

	.row {
		padding:0;
	}

}



/*
   Grid Blocks
*/
*[class$="-block"] {
	position:relative;
	margin-bottom:32px;
	margin-bottom:2rem;
}
*[class$="-block"]:last-child {
	margin-bottom:0;
}

@media (min-width: 768px) {

	*[class$="-block"] {
		float:left;
		margin:0;
		padding:0 16px;
		padding:0 1rem;
	}
	.one-quarter-block		{ width:25%; }
	.one-third-block		{ width:33.333%; }
	.half-block				{ width:50%; }
	.two-thirds-block		{ width:66.666%; }
	.three-quarters-block	{ width:75%; }
	.full-block				{ width:100%; }

	/*
	   Adjust padding for first/last blocks
	*/
	*[class$="-block"]:first-child 	{ padding-left:0; }
	*[class$="-block"]:last-child 	{ padding-right:0; }
}



/* ====================================================
	04. Global Elements
   ==================================================== */

/*
   Menus
*/
ul.horizontal-navigation {
	clear:both;
	margin:0;
	padding:0;
	list-style:none;
}
ul.horizontal-navigation:before,
ul.horizontal-navigation:after {
    content:"";
    display:table;
}
ul.horizontal-navigation:after {
    clear:both;
}
ul.horizontal-navigation  > li {
	position:relative;
	float:left;
}



/*
   Slider
*/
.slider {
	position:relative;
	overflow:hidden;
}
.slider .slider-container {
	margin:0;
	padding:0;
	list-style:none;
}
.slider .slide {
	float:left;
}
.slider .slide img {
	display:block;
	width:100%;
	height:auto;
}
.slider-navigation {
	
}
.slider-navigation .prev,
.slider-navigation .next {
	position:absolute;
	top:50%;
	left:16px;
	left:1rem;

	transform:translateY(-50%);

	padding:20px 8px;
	padding:1.25rem 0.5rem;

	background:rgb(0,0,0);
	background:rgba(0,0,0,0.35);
	color:#fff;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;

	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.slider-navigation .next {
	left:auto;
	right:16px;
	right:1rem;
}
.slider:hover .prev,
.slider:hover .next {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	opacity:0.8;
}
.slider .prev:hover,
.slider .next:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
}



/*
   Isotope Filtering
   http://isotope.metafizzy.co/
*/
#isotope-menu {
	margin:0 16px;
	margin:0 1rem;
	padding:8px;
	padding:0.5rem;
	background:#333;
}
#isotope-menu ul {
	
}
#isotope-menu ul li {
	
}
#isotope-menu ul li a {
	display:block;
	padding:8px 16px;
	padding:0.5rem 1rem;
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-size:0.875rem;
	font-weight:300;
	text-transform:uppercase;
	color:#fff;
}
#isotope-menu ul li.active a {
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.25);
}

@media (min-width: 768px) {

	#isotope-menu {
		margin:0 0 64px;
		margin:0 0 4rem;
	}

}

.isotope-item {
	width:100%;
}
.isotope-item a {
	position:relative;
	display:block;
	margin:16px;
	margin:1rem;
	color:#333;
}
.isotope-item a img {
	display:block;
	width:100%;
	height:auto;
}
.isotope-item a .overlay {
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	width:100%;
	height:100%;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;

	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}
.isotope-item a .overlay .title {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	width:100%;
	-webkit-transform:translate(0%, -50%);
	-ms-transform:translate(0%, -50%);
	transform:translate(0%, -50%);
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-size:1.25rem;
	font-weight:300;
	text-transform:uppercase;
	text-align:center;
}
.isotope-item a .dark.overlay {
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.75);
}
.isotope-item a .light.overlay {
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.75);
}
.isotope-item a:hover .overlay,
.isotope-item a:focus .overlay {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
}

@media (min-width: 768px) {

	.isotope-item {
		width:auto;
	}
	.isotope-item a {
		margin:0;
	}

}



/*
   Widgets
*/
.widget {
	position:relative;
}
.widget-title {
	margin-bottom:16px;
	margin-bottom:1rem;
	font-size:16px;
	font-size:1rem;
	font-weight:300;
}
.widget p {
	margin-top:0;
}
.widget ul {
	margin:0;
	padding:0;
	list-style:none;
}



/*
   Forms
*/
form {}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
	width:100%;
	padding:16px;
	padding:1rem;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:13px;
	font-size:0.825rem;
	color:#333;
	background:#fff;
	border:1px solid #e2e2e2;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
textarea {
	display:block;
	min-height:96px;
	min-height:6rem;
	resize:vertical;
}
button,
.button,
input[type="submit"],
input[type="cancel"] {
	display:inline-block;
	padding:12px;
	padding:0.75rem;
	font-size:14px;
	font-size:0.875rem;
	background:#333;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	border:0;
	cursor:pointer;

	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
button:hover,
.button:hover,
input[type="submit"]:hover {
	background:#333;
	color:#fff;
}
input[type="cancel"] {
	background:#454545;
}



/*
   Widget Forms
   Example: Search form, Mailing List
*/
.widget-form {
	position:relative;
}
.widget-form .screen-reader-text {
	display:none;
}
.widget-form input {
	width:100%;
	padding:8px;
	padding:0.5rem;
}
.widget-form button {
	position:absolute;
	top:1px;
	right:1px;
	bottom:1px;
	width:32px;
	padding:0 8px;
	padding:0 0.5rem;
	text-align:center;
}
.widget-form button .fa {
	color:#fff;
}



/*
   Contact Form
   Adds spacing between form fields
*/
.contact-form {}
.contact-form input,
.contact-form textarea {
	margin-bottom:32px;
	margin-bottom:2rem;
}
.contact-form input[type="submit"] {
	margin-bottom:0;
}



/*
   Map
*/
#map {
	width:100%;
	height:160px;
	height:15rem;
	background:#e7e7e7;
}

@media (min-width: 768px) {

	#map {
		height:500px;
		height:31.25rem;
	}

}



/*
   Pagination
*/
.pagination {
	clear:both;
}
.pagination:before,
.pagination:after {
    content:"";
    display:table;
}
.pagination:after {
    clear:both;
}
.pagination .prev {
	float:left;
}
.pagination .next {
	float:right;
}



/*
   Social Icons
*/
.social-icons {}
.social-icons ul {
	margin-top:16px;
	margin-top:1rem;
}
.social-icons ul li {
	margin-right:8px;
	margin-right:0.5rem;
}
.social-icons ul li:last-child {
	margin-right:0;
}
.social-icons a {
	display:block;
	height:48px;
	height:3rem;
	width:48px;
	width:3rem;
	padding:10px 0;
	padding:0.625rem 0;
	color:#333;
	border-radius:50%;
	text-align:center;
}
.social-icons a .fa {
	color:inherit;
}
.social-icons .facebook a:hover {
	background:#3b5998;
	color:#fff;
}
.social-icons .twitter a:hover {
	background:#44ccf6;
	color:#fff;
}
.social-icons .google-plus a:hover {
	background:#dd4b39;
	color:#fff;
}
.social-icons .pinterest a:hover {
	background:#c3042b;
	color:#fff;
}
.social-icons .instagram a:hover {
	background:#66269e;
	color:#fff;
}
.social-icons .youtube a:hover {
	background:#da2d2e;
	color:#fff;
}



/* ====================================================
	05. Masthead
   ==================================================== */
#masthead {
	background:#333;
	color:#fff;
}
#masthead a {
	color:inherit;
}



/*
   Site Header
*/
#site-header {
	
}



/*
   Branding
*/
#branding {
	margin:16px 0;
	margin:1rem 0;
}
#branding a.logo {
	display:block;
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-size:1.25rem;
	font-weight:700;
	text-transform:uppercase;
}

@media (min-width: 768px) {

	#branding {
		float:left;
		margin:32px 0;
		margin:2rem 0;
	}

}



/*
   Main Menu
*/
#main-menu {
	
}
#main-menu ul.horizontal-navigation > li {
	
}
#main-menu ul.horizontal-navigation > li > a {
	display:block;
	padding:8px 16px;
	padding:0.5rem 1rem;
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:20px;
	font-size:1.25rem;
	font-weight:300;
}
#main-menu ul.horizontal-navigation > li.active {}
#main-menu ul.horizontal-navigation > li.active a {
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.25);
}

@media (min-width: 768px) {

	#main-menu {
		float:right;
		margin:16px 0;
		margin:1rem 0;
	}
	#main-menu ul.horizontal-navigation > li {
		margin-left:8px;
		margin-left:0.5rem;
		padding:8px;
		padding:0.5rem;
	}
	#main-menu ul.horizontal-navigation > li:first-child {
		margin-left:0;
	}
	#main-menu ul.horizontal-navigation > li > a {
		padding:8px 16px;
		padding:0.5rem 1rem;
	}

}



/*
   Page Title
*/
#page-title {
	padding:32px 0;
	padding:2rem 0;
}
#page-title .entry-title {
	font-family:"Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:32px;
	font-size:2rem;
	font-weight:300;
	line-height:1;
}
#page-title .description {
	margin:16px 0 0;
	margin:1rem 0 0;
}

@media (min-width: 768px) {

	#page-title {
		padding:64px 0;
		padding:4rem 0;
	}

}



/* ====================================================
	06. Content
   ==================================================== */
.content {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}



/*
   Blog Post
*/
.post {
	
}
.post .entry-header {
	margin-bottom:16px;
	margin-bottom:1rem;
}
.post .entry-title {
	margin-bottom:16px;
	margin-bottom:1rem;
	font-size:24px;
	font-size:1.5rem;
	line-height:1;
	font-weight:300;
}
.post .entry-meta {
	margin-bottom:16px;
	margin-bottom:1rem;
	padding:8px;
	padding:0.5rem;
	font-size:12px;
	font-size:0.75rem;
	color:#999;
	background:#f7f7f7;
	border:1px solid #e2e2e2;
}
.post .entry-meta a {
	color:inherit;
}
.post .entry-meta a:hover {
	color:#333;
}
.post .entry-meta > span {
	margin-right:8px;
	margin-right:0.5rem;
}
.post .entry-meta > span:last-child {
	margin-right:0;
}
.post .entry-image {
	margin-bottom:16px;
	margin-bottom:1rem;
	border:1px solid #e2e2e2;
}
.post .entry-image img {
	display:block;
	width:100%;
	height:auto;
	
}
.post .entry-content {
	margin-bottom:16px;
	margin-bottom:1rem;
}

@media (min-width: 768px) {

	.post .entry-header,
	.post .entry-title,
	.post .entry-meta,
	.post .entry-image,
	.post .entry-content {
		margin-bottom:32px;
		margin-bottom:2rem;
	}

}



/*
   Blog Post Summary
*/
.post.summary {
	clear:both;
	position:relative;
	margin-bottom:32px;
	margin-bottom:2rem;
	padding-left:112px;
	padding-left:6rem;
}
.post.summary .entry-header {
	
}
.post.summary .entry-header .entry-title {
	
}
.post.summary .entry-header .entry-meta {
	margin:16px 0 0;
	margin:1rem 0 0;
}
.post.summary .entry-thumbnail {
	position:absolute;
	top:0;
	left:0;
	height:80px;
	height:5rem;
	width:80px;
	width:5rem;
	border:1px solid #e2e2e2;
}
.post.summary .entry-thumbnail img {
	display:block;
	width:100%;
	height:auto;
}
.post.summary .entry-summary {
	margin:16px 0 0;
	margin:1rem 0 0;
}
.post.summary .entry-summary p {
	
}

@media (min-width: 768px) {

	.post.summary {
		margin-bottom:64px;
		margin-bottom:4rem;
		padding-left:182px;
		padding-left:11.375rem;
	}
	.post.summary .entry-thumbnail {
		height:150px;
		height:9.375rem;
		width:150px;
		width:9.375rem;
	}
	.post.summary .entry-summary p {
		display:block;
	}

}



/* ====================================================
	07. Sidebar
   ==================================================== */
.sidebar {
	
}
.sidebar .widget {
	margin-bottom:32px;
	margin-bottom:2rem;
	padding:12px;
	padding:0.75rem;
	font-size:12px;
	font-size:0.75rem;
	background:#f7f7f7;
	color:#999;
	border:1px solid #e2e2e2;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.sidebar .widget ul {
	padding:12px;
	padding:0.75rem;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.sidebar .widget ul li {
	margin-bottom:4px;
	margin-bottom:0.25rem;
}
.sidebar .widget ul li:last-child {
	margin-bottom:0;
}

/* Remove margin-bottom from the last .widget */
.sidebar > div:last-child {
	margin-bottom:0;
}



/* ====================================================
	08. Prefooter
   ==================================================== */
#prefooter {
	padding:32px 0;
	padding:2rem 0;
	background:#f3f3f3;
	color:#999;
	border-top:4px solid #333;
}

@media (min-width: 768px) {

	#prefooter {
		padding:64px 0;
		padding:4rem 0;
	}

}



/*
   Prefooter Widgets
*/
#prefooter .widget {
	font-size:14px;
	font-size:0.875rem;
}
#prefooter .widget .widget-title {
	font-weight:700;
	color:#333;
}



/*
   Contact Widget
*/
.contact-widget {
	
}
.contact-widget .name {
	font-size:16px;
	font-size:1rem;
	color:#333;
}
.contact-widget .description {
	margin:16px 0;
	margin:1rem 0;
}

/* Address */
.contact-widget .address {
	margin:16px 0;
	margin:1rem 0;
}
.contact-widget .street {}
.contact-widget .city {}
.contact-widget .region {}
.contact-widget .postcode {}
.contact-widget .country {}

/* Contact Methods */
.contact-widget .email-address {}
.contact-widget .telephone {}
.contact-widget .website {}
.contact-widget .email-address .fa,
.contact-widget .telephone .fa,
.contact-widget .website .fa {
	color:#888;
}


/* Rating */
.contact-widget .rating {
	margin:16px 0;
	margin:1rem 0;
	font-size:10px;
	font-size:0.6875rem;
}
.contact-widget .rating .rating-stars {}
.contact-widget .rating .rating-stars .fa {
	color:#fc0;
}



/*
   Recent Posts
*/
.recent-posts-widget {
	
}
.recent-posts-widget ul {
	padding:16px;
	padding:1rem;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.recent-posts-widget li.recent-post {
	position:relative;
	margin-bottom:16px;
	margin-bottom:1rem;
}
.recent-posts-widget li:last-child {
	margin-bottom:0;
}
.recent-posts-widget li.recent-post a {
	display:block;
	padding-left:96px;
	padding-left:6rem;
	min-height:80px;
	min-height:5rem;
}
.recent-posts-widget li.recent-post a > span {
	display:block;
}
.recent-posts-widget li.recent-post a .recent-post-title {
	font-weight:700;
}
.recent-posts-widget .recent-post-thumbnail {
	position:absolute;
	top:0;
	left:0;
	height:80px;
	height:5rem;
	width:80px;
	width:5rem;
	border:1px solid #ddd;
}
.recent-posts-widget .recent-post-thumbnail img {
	display:block;
	width:100%;
	height:auto;
}
.recent-posts-widget .recent-post-summary {
	font-size:12px;
	font-size:0.75rem;
	color:#999;
}
.recent-posts-widget .recent-post-summary p {
	margin:0;
}

/*
	Connect Widget
*/
.connect-widget {
	
}

/*
   Mailing List
*/
.connect-widget .mailing-list {
	margin-bottom:32px;
	margin-bottom:2rem;
}

@media (min-width: 768px) {

	.connect-widget .mailing-list {
		margin-bottom:64px;
		margin-bottom:4rem;
	}

}



/* ====================================================
	09. Footer
   ==================================================== */
#footer {
	padding:16px 0;
	padding:1rem 0;
	font-size:12px;
	font-size:0.75rem;
	color:#cfcfcf;
	background:#000;
}
#footer .copyright {
	
}
#footer .attribution {
	
}
#footer a {}
#footer a:hover {
	color:#fff;
}

@media (min-width: 768px) {

	#footer .copyright {
		float:left;
	}
	#footer .attribution {
		float:right;
	}

}



/* ====================================================
	10. Project
   ==================================================== */
/*
   Project Titles
*/
.project-description-title,
.project-details-title {
	position:relative;
	margin:16px 0;
	margin:1rem 0;
	font-size:20px;
	font-size:1.25rem;
	line-height:48px;
	line-height:3rem;
	font-weight:300;
	border-bottom:1px solid #e2e2e2;
}
.project-description-title:after,
.project-details-title:after {
	position:absolute;
	content:"";
	bottom:-2px;
	left:0;
	height:3px;
	width:80px;
	width:5rem;
	margin:0;
	background:#333;
}



/*
   Project Description
*/
.project-description {}



/*
   Project Details
*/
.project-details {
	font-size:14px;
	font-size:0.875rem;
}
.project-details ul {
	margin:0;
	padding:0;
	list-style:none;
}
.project-details ul li {
	margin:16px 0;
	margin:1rem 0;
}
.project-client {}
.project-date {}
.project-tags {}
.project-actions {
	margin-top:32px;
	margin-top:2rem;
}



/* ====================================================
	11. Author
   ==================================================== */
.author-profile {
	clear:both;
	margin-bottom:32px;
	margin-bottom:2rem;
}
.author-profile:before,
.author-profile:after {
    content:"";
    display:table;
}
.author-profile:after {
    clear:both;
}
.posts-by-author-title {
	margin-bottom:16px;
	margin-bottom:1rem;
	font-size:24px;
	font-size:1.5rem;
	line-height:1;
	font-weight:300;
}
.author-image {
	border:1px solid #e2e2e2;
}
.author-image img {
	display:block;
	width:100%;
	height:auto;
}
.author-name {
	font-size:24px;
	font-size:1.5rem;
	line-height:1;
	font-weight:300;
	color:#333;
}
.author-meta {
	margin:8px 0;
	margin:0.5rem 0;
	font-size:14px;
	font-size:0.875rem;
	color:#999;
}
.author-description {}
.author-actions {}
.posts-by-author {}

@media (min-width: 768px) {

	.author-profile {
		margin-bottom:64px;
		margin-bottom:4rem;
	}
	.posts-by-author-title {
		margin-bottom:32px;
		margin-bottom:2rem;
	}

}